*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: hsl(224, 21%, 14%)
}
body img{
    width: 40px;
    height: 40px;
}
.contanier{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: white;
    padding: 20px 40px;
}
@media (max-width:767px) {
    .contanier{
        width: 98%;
    }
    .head h1{
        font-size: 16px;
    }
}
.head{
    display: flex;
    justify-content: space-between;
    margin-bottom:20px ;
}
.head h1{
    font-weight: bold;
    font-size: 24px;
}
.head span{
    padding: 0 10px;
    background-color: hsl(219, 85%, 26%);
    color: #fff;
}
.head p{
    cursor: pointer;
    transition: .5s;
}
.head p:hover{
    color: hsl(219, 85%, 26%);
}
.active_box{
    display: flex;
    background-color:hsl(211, 68%, 94%);
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
}
.active_box .text{
    margin-left: 10px;
}
.active_box .text h3{
    font-size: 16px;
    font-weight: bold;
}
.active_box .text span{
    color:  hsl(219, 14%, 63%) ;
    position: relative;
}
.active_box .text .cliker{
    color:  hsl(219, 12%, 42%);
    position: relative;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;

}
.active_box .text .dot{
    display: inline-block;
    background-color: hsl(1, 90%, 64%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-left: 10px;
}
.active_box p{
    color: hsl(205, 33%, 90%);
}
.active_box .text .cliker:hover{
    color: hsl(219, 85%, 26%) ;
}
.massge_nov{
    display: flex;
    margin-top: 20px;
}
.massge_nov .text{
    margin-left: 10px;
}
.massge_nov .text h3{
    font-size: 16px;
}
.massge_nov .text span{
    color: hsl(219, 14%, 63%);
}
.massge_nov .text p{
    color: hsl(205, 33%, 90%);
}
.massege_content{
    padding: 20px 40px;
    border: 1px solid hsl(205, 33%, 90%);
    margin: 20px ;
    width: 100%;
}
.massege_content p{
    line-height: 1.6;
    color: hsl(219, 14%, 63%);
}
.none_active{
    display: flex;
    padding: 5px ;
    margin-bottom: 10px;
}
.none_active .text{
    margin-left: 10px;
}
.none_active .text h3{
    font-size: 16px;
    font-weight: bold;
}
.none_active .text span{
    color:hsl(205, 33%, 90%) ;
    font-weight: normal;
}
.none_active .text .none_cliker{
    color: hsl(219, 14%, 63%);
    font-weight: bold;
}
.none_active .img{
    margin: 0 0 0 auto ;
    cursor: pointer;
}
